body{
   background: bisque;
}

h1{
color: black;
border: red solid thin;
border-radius: 10px  ;
font-size: 30px;
}
#box1{
    width: 170px;
}

h2{
 font-style:italic;
 font-weight: bold;  

}
h3{
    background: black;
    color: white;
    font-family: monospace;
}